# dependencies
/node_modules
node_modules/
.pnp
.pnp.*

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem
CLAUDE.md

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env
.env*.local

# cloudflare / wrangler
.wrangler/

# typescript
*.tsbuildinfo
next-env.d.ts
